venv
static
frontend/node_modules
frontend/package-lock.json
frontend/yarn.lock
backend_movies/node_modules
backend_movies/.idea
backend_movies/package-lock.json
backend_movies/moviesbackend.iml
backend_movies/yarn.lock
backend_movies/yarn-error.log
backend/.idea
backend/venv
backend/api/migrations
backend/static
backend/app/__pycache__/
backend/api/__pycache__/
.idea
.gitignore.swp